{% extends 'index.html' %}
{% block contenido %}

<div class="inner">
            <div class="main" >
                <section id="content">
						        <div class="newsletter">{% csrf_token%}
                                    <center>
                                      <strong class="title">
                                       <H1> <strong>-NUESTROS PRODUCTOS-</strong></H1> </strong>

                                  {% for dato in lista %}
                                        <table width="616" border="1">

                                         <tr><P></P>
                                             <th width="300" scope="col"><p><a href="/productos">
                                                 <p>{{ dato.CategoriaNombre }}</p>
                                                 <img src="/media/{{ dato.Portadacategoria }}" width="300" height="200"></a></p>

                                             </th>
                                         </tr>

                                  </table>
{% endfor %}                             {% if user.is_authenticated %}
                                        <br><a href="/categoria/nueva" class="button-2">Agregar Nueva Categoria </a>
                                        {% endif %}

                                    </center>
						        </div>





                </section>
                    <div class="block"></div>
            </div>
        </div>




{% endblock %}